<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Google Fonts -->
		<!-- Link to custom Google Fonts to make the text more unique -->
		<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
		<!-- Custom CSS -->
		<!-- Link to custom CSS page to make the text more unique -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>DEVOUR THAT BURGER!</title>
	</head>
	<body>
		<!-- Handlebars HTML-escapes values returned by a {{expression}}. Since we don't want Handlebars to escape a value, we used the "triple-stash" -->
		{{{body}}}
	</body>
</html>