body
{
  color: #fff;
  margin: 10px auto;
  height: 850px;
  width: 80%;
  text-align: center;
  animation: color-me-in 90s;
  animation-iteration-count: 25; 
}

/* Start background animation section*/
@keyframes color-me-in
{
  /* Starts with base color --- step 1 */
  0%
  {
    background: #5199A8;
  }
  /* Begins transition to next color at 10% */
  10%
  {
    background: white;
  }
  /* Begins transition to next color at 20% */
  20%
  {
    background: #055F65;
  }
  /* Begins transition to next color at 30% */
  30%
  {
    background: #400479;
  }
  /* Begins transition to next color at 40% */
  40%
  {
    background: #8E3843;
  }
  /* Begins transition to next color at 50% */
  50%
  {
    background: #134913;
  }
  /* Begins transition to next color at 60% */
  60%
  {
    background: #E9B704;
  }
  /* Begins transition to next color at 70% */
  70%
  {
    background: #82486B;
  }
  /* Begins transition to next color at 80% */
  80%
  {
    background: #FFCCFF;
  }
  /* Begins transition to next color at 90% */
  90%
  {
    background: #134913;
  }
  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
    background: #FFFFCC;
  }
}

button
{
  font-family: 'Play', sans-serif;
}

#burger_img img
{
  position: center;
  width: 20%;
  height: -25%;
  z-index: 100;
}

#enter_text {
  margin-bottom: 15px
}

.devoured_burger_class{
  margin-top: 50px
}