body
{
  color: #fff;
  margin: 10px auto;
  height: 850px;
  width: 80%;
  text-align: center;
  animation: color-me-in 90s;
  animation-iteration-count: 25; 
}

/* Background Animation */
@keyframes color-me-in
{
  /* Starts with base color --- step 1 */
  0% {
    background: blue;
  }
  /* Adding a step in the middle */
  50% {
    background: red;
  }
  100% {
    background: purple;
  }
}

button
{
  font-family: 'Play', verdana;
}

#burger_img img
{
  position: center;
  width: 20%;
  height: -25%;
  z-index: 100;
}

#enter_text {
  margin-bottom: 15px
}

.devoured_burger_class{
  margin-top: 50px
}